@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F8F6F1;
    color: #1A1A1A;
    -webkit-font-smoothing: antialiased;
  }

  ::selection {
    background-color: #E8553D;
    color: white;
  }
}
